# Week 5 - Functions I

1. [Question 1](#bullet1)
2. [Question 2](#bullet2)
3. [How to name functions](#bullet3)
4. [Comments](#bullet4)
5. [Practice](#bullet5)
6. [Looking at function source code](#bullet6)
7. [Control Statements: if...elif()](#bullet7)
8. [Types of function parameters](#bullet8)
9. [Handling errors](#bullet9)
10. [Args and Kwargs](#bullet10)
11. [Return statements](#bullet11)
12. [Lazy evaluation](#bullet12)
13. [Lexical scoping](#bullet13)

In [1]:
## importing necessary libraries
import numpy as np
import pandas as pd
import scipy

## 1.  Question: What does the following code do?<a class="anchor" id="bullet1"></a>

In [6]:
rng = np.random.default_rng(seed=32521)

a = rng.standard_normal(10)
b = rng.standard_normal(10)
c = rng.standard_normal(10)
d = rng.standard_normal(10)

the_dict = {'a':a,'b':b,'c':c,'d':d}

df = pd.DataFrame(the_dict)
df

          a         b         c         d
0  0.980714  2.102271 -0.475476  0.192623
1  2.467158  0.689942  0.092262 -0.317355
2 -0.959375 -0.234055 -0.041392  1.468489
3  0.771635  0.753869 -0.529850 -1.024178
4 -1.249973 -1.253808 -0.064688  0.521052
5  0.594245 -1.508091 -1.245175  1.485229
6  0.164417  0.380744  0.274783 -0.535932
7 -1.505085  1.693092 -1.606498 -1.364671
8  0.001804 -0.007817 -0.598265 -1.316875
9  0.484700 -1.013335  0.944282  0.789056

## 2. Question: What does the following code do?<a class="anchor" id="bullet2"></a>

In [40]:
df['a'] = (df['a'] - min(df['a'])) / (max(df['a']) - min(df['a']))
df['b'] = (df['b'] - min(df['b'])) / (max(df['b']) - min(df['b']))
df['c'] = (df['c'] - min(df['c'])) / (max(df['a']) - min(df['c']))
df['d'] = (df['d'] - min(df['d'])) / (max(df['d']) - min(df['d']))

This code is rescaling the data to have values between 0-1.

**Issue**: There is a mistake in the code above, can you spot it?

**Lesson**: Writing a function will simplify this code and reduce the chances for an error. Let's write a function which simplifies the above. Before we do so, we note that the general syntax for writing functions.

**Key parts of a function**:
1. You need to name the function (e.g.-rescale01)
2. You need parameters (inputs or arguments) 
3. You need code in the body of the function

In [41]:
def function_name(arg1, arg2):
    return # Do something!

Your function can have any number of inputs or arguments.  
__Tip 1:__ When we write functions, it's a good idea to **name the arguments something generic, like x**

In [2]:
# Our function requires a single input, a pd.Series object, which we will name x
def rescale01(x):
    return (x - min(x)) / (max(x)-min(x))

This is a good start. But notice how we are calling min(x) two separate times. This is not ideal in two respects. First, should you ever want to update min(x) with something else, you'll have to change it everywhere in the code. Second, whenever you need the same value more than once, your code will be more readable (and faster!) if you compute it one time and store the result rather than 2+ times.  
  
__Tip 2:__ Within your function, make your code as concise as possible and avoid repeating the same computation multiple times

In [43]:
# Try to avoid than using min() and max() to compute the range multiple times
def rescale01(x):
    min_ = x.min()  # min and max are keywords, so the "_" can be appended to avoid confusion
    max_ = x.max()
    return ( x - min_ ) / ( max_ - min_ )

In [44]:
# Compare the readability of this code to what we saw above
df['a'] = rescale01(df['a'])  
df['b'] = rescale01(df['b'])
df['c'] = rescale01(df['c'])
df['d'] = rescale01(df['d'])

**Question**: Is it easier to understand what the point of the code is?  
**Question**: Is it easier to read/less complex?  
**Question**: Is it easier to update the code / functionality?  
  
**Answers**:  YES!!

In [3]:
# Example: the following fails, as it returns incorrect values because of the np.inf element
x = pd.Series([1, 2, 3, 4, np.inf])
rescale01(x)

0    0.0
1    0.0
2    0.0
3    0.0
4    NaN
dtype: float64

#### Challenge: Fix the function above so that if np.inf values are passed in, the function won't fail

0    0.000000
1    0.333333
2    0.666667
3    1.000000
4         NaN
dtype: float64

Coding best practices: __"Do not Repeat Yourself" (aka "DRY")__. More repitition in code means higher chance of having errors in code.

## 3. How to name functions<a class="anchor" id="bullet3"></a>

Name should be as short as possible and should make clear what function does. **Verbs** better than nouns if possible.

- Too short: f()
- Not a verb, or descriptive: my_awesome_function()
- Long, but clear: impute_missing() or collapse_years()

**Snake case versus camel case**  
Snake case is when you write the function name in the following way, using "_" to connect words:  
snake_case()

Camel case is written in the following manner:  
camelCase()

In [5]:
# Whichever you choose, be consistent rather than moving back and forth, i.e.- don't do the following:
def col_mins(x,y): 
    return min(x,y)

def rowMaxes(x,y): 
    return max(x,y)

If you have a group of functions working towards a similar goal, try to keep the naming conventions in the same order as arguments.
  
**Good**  
input_select()  
input_checkbox()  
input_text()  
  
**Not so good**  
select_input()  
checkbox_input()  
text_input()

Moreover, try not to write functions that overwrite functions, variables or keywords that are already a part of python.

In [19]:
int = 0 # don't name a function int for example !

Also, don't give a variable a name which overwrites a function, like sum, which is already a function in Python. If you do this, the variable sum *shadows* the built-in function, making it inaccessible in your code as shown below

In [4]:
sum = 10 + 5
print(sum)
sum([10, 15])

15

TypeError: 'int' object is not callable

In [7]:
del sum # delete sum var so our code later will work !

## 4. Comments<a class="anchor" id="bullet4"></a>

In [22]:
# Now a few comments about comments...

# Comments should explain the why of the code rather than the what or the how
# the what or the how should be obvious in the code itself

# to break code into chunks that are easy to read use "-" or "="

# Load data ------------------------------------------------------------
x1 = 7 # code entered here

#Plot data ============================================================
x2 = 8 # code entered here

## 5. Practice<a class="anchor" id="bullet5"></a>

In [221]:
# Practice naming functions: Read the source code for each of the following 
# three functions, puzzle out what they do, and then brainstorm better names.

In [222]:
def prefix_match(string, prefix):
    temp = string.find(prefix)
    if temp == -1:
        return False
    else:
        return True

In [20]:
prefix_match('dog', 'do')

True

In [21]:
prefix_match('dog', 'st')

False

In [47]:
def remove_last(x):
    if len(x) <= 1:
        return None
    return x[:-1]

In [48]:
remove_last("dog")

'do'

In [49]:
remove_last([1, 2, 3, 4, 5])

[1, 2, 3, 4]

In [52]:
def match_length(x, y):
    lst = []
    
    for i in range(len(x)):
        lst.append(y)
    return lst

In [53]:
match_length("dog", "d")

['d', 'd', 'd']

## 6. Looking at function source code<a class="anchor" id="bullet6"></a>

In [11]:
?np.mean

Signature:
np.mean(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    *,
    where=<no value>,
)
Docstring:
Compute the arithmetic mean along the specified axis.

Returns the average of the array elements.  The average is taken over
the flattened array by default, otherwise over the specified axis.
`float64` intermediate and return values are used for integer inputs.

Parameters
----------
a : array_like
    Array containing numbers whose mean is desired. If `a` is not an
    array, a conversion is attempted.
axis : None or int or tuple of ints, optional
    Axis or axes along which the means are computed. The default is to
    compute the mean of the flattened array.

    .. versionadded:: 1.7.0

    If this is a tuple of ints, a mean is performed over multiple axes,
    instead of a single axis or all the axes as before.
dtype : data-type, optional
    Type to use in computing the mean.  For integer inputs, the default
    is `float64`; for floating point inputs, it is the same as the
    input dtype.
out : ndarray, optional
    Alternate output array in which to place the result.  The default
    is ``None``; if provided, it must have the same shape as the
    expected output, but the type will be cast if necessary.
    See :ref:`ufuncs-output-type` for more details.

keepdims : bool, optional
    If this is set to True, the axes which are reduced are left
    in the result as dimensions with size one. With this option,
    the result will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `mean` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.

where : array_like of bool, optional
    Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.20.0

Returns
-------
m : ndarray, see dtype parameter above
    If `out=None`, returns a new array containing the mean values,
    otherwise a reference to the output array is returned.

See Also
--------
average : Weighted average
std, var, nanmean, nanstd, nanvar

Notes
-----
The arithmetic mean is the sum of the elements along the axis divided
by the number of elements.

Note that for floating-point input, the mean is computed using the
same precision the input has.  Depending on the input data, this can
cause the results to be inaccurate, especially for `float32` (see
example below).  Specifying a higher-precision accumulator using the
`dtype` keyword can alleviate this issue.

By default, `float16` results are computed using `float32` intermediates
for extra precision.

Examples
--------
>>> a = np.array([[1, 2], [3, 4]])
>>> np.mean(a)
2.5
>>> np.mean(a, axis=0)
array([2., 3.])
>>> np.mean(a, axis=1)
array([1.5, 3.5])

In single precision, `mean` can be inaccurate:

>>> a = np.zeros((2, 512*512), dtype=np.float32)
>>> a[0, :] = 1.0
>>> a[1, :] = 0.1
>>> np.mean(a)
0.54999924

Computing the mean in float64 is more accurate:

>>> np.mean(a, dtype=np.float64)
0.55000000074505806 # may vary

Specifying a where argument:
>>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
>>> np.mean(a)
12.0
>>> np.mean(a, where=[[True], [False], [False]])
9.0
File:      c:\users\nicho\anaconda3\lib\site-packages\numpy\core\fromnumeric.py
Type:      function

In [12]:
?rescale01 # Our function

Object `rescale01 # Our function` not found.

**Question:** Why does our function not return a help menu?  
**Answer**: We never set it up ! We will learn how to later

## 7. Control Statements: if...elif() <a class="anchor" id="bullet7"></a>

Code usually exectures in a straight forward, linear manner. We call this **sequential execution**. But there are a few ways you can change the execution order. The first way to do so is by using **if()... else() statements**. These statements are quite easy to understand; after checking some condition(s), a snippet of code will either exectute or not.

In [ ]:
# The syntax of if().... else() statements :
if (condition):
  # code executed when condition is TRUE
else:
  # code executed when condition is FALSE

In [19]:
# Example of a function using if then statements ...
def is_even(x):
    if x % 2 == 0:
        return True
    return False

# why does this work without an else clause?
# what does this function do?

In [60]:
# Can search for several conditions using & or |
def temp2(x):
    if (x % 2 == 0) & (x % 5 == 0):
        return True
    return False

def temp3(x):
    if (x % 2 == 0) | (x % 5 == 0):
        return True
    return False
# what is the difference between these functions?

In [8]:
vec = [1, 3, 5, 7, 9]
if sum(vec) < 1:
    print("empty list")
elif sum(vec) == 1:
    print("I'm a unitary vector")
else:
    print("I'm not a unitary vector")

I'm not a unitary vector

`any()` and `all()` are also helpful if your condition returns a vector and you need to collapse to a single TRUE/FALSE statement

In [62]:
any([True, False, False])

True

In [63]:
all([True, False, False])

False

In [64]:
any([True if i > np.mean(vec) else False for i in vec])

True

In [65]:
all([True if i > np.mean(vec) else False for i in vec])

False

##### Question: what is the difference between any and all?

## 8. Types of function parameters <a class="anchor" id="bullet8"></a>

There are two broad types of function arguments: data args and args that control details of computation. A general rule of thump is that **data arguments should come first followed by args with details for computation**.

In [24]:
# Example:
x = pd.Series([1, 24, 4325, 8432, 34])

def my_mean(lst, condition=False):
    temp = lst
    if condition:
        temp = [i for i in lst if i > 1000]
    return sum(temp)/len(temp)
    
    
my_mean(x, condition=True)

# lst refers to the data 
# condition (set to False by default) determines details of computation 

# In this case, best practice is to put lst, the data arg, first in the function definition

6378.5

In [25]:
# Another example: compute confidence interval around mean using normal approximation
def mean_ci(x, conf = 0.95):
    se = np.std(x) / np.sqrt(len(x))
    alpha = 1 - conf
    return np.mean(x) + se * scipy.stats.norm.ppf([alpha/2, 1 - alpha/2])

In [26]:
print("X    Freq")
print(x)
print("\n")
print("Mean: "+  str(my_mean(x)))
print("The 95% CI is (" + str(mean_ci(x, conf=0.95)) + ")")

X    Freq
0       1
1      24
2    4325
3    8432
4      34
dtype: int64


Mean: 2563.2
The 95% CI is ([-395.13852072 5521.53852072])

##### Question: Why is this 95% CI for the mean so wide?

In [27]:
x = np.random.uniform(1,100,1000)
print("Mean: "+  str(round(my_mean(x), 3)))
print("The 95% CI is (" + str(mean_ci(x, conf=0.95)) + ")")

Mean: 51.925
The 95% CI is ([50.0950069  53.75421898])

In [28]:
x = np.random.uniform(1,100,10)
print("Mean: "+  str(round(my_mean(x), 3)))
print("The 95% CI is (" + str(mean_ci(x, conf=0.95)) + ")")

Mean: 43.494
The 95% CI is ([26.90972997 60.07838596])

You can add default values for your arguments to take, just incase a value is not entered by the user. This is exactly what we did when we specify `condition=False`. This means that when the condition argument is not specified when the function is called, it will default to False.

In [29]:
def my_mean(lst, condition=False):
    temp = lst
    if condition:
        temp = [i for i in lst if i > 1000]
    return sum(temp)/len(temp)

## 9. Handling errors<a class="anchor" id="bullet9"></a>

In [130]:
len([4,5,6])

3

In [30]:
# It's good practice to check important preconditions, and throw an error if they are not true:
def wt_mean(x, w):
    assert len(x) == len(w), "x and w must be the same length!!!"  # assert statements throw and error if not True!
    return sum(np.multiply(x, w))/sum(w)

In [31]:
x = [1,2,3]
w = [1,1,1]
print("The weighted mean of x is: " + str(wt_mean(x, w)))

The weighted mean of x is: 2.0

In [32]:
x = [1,2,3]
w = [1,1,1,1]
wt_mean(x, w)

AssertionError: x and w must be the same length!!!

##### Question: What is does the wt_mean() function call below return?

In [ ]:
x = [1,2,3]
w = [1,1,10]
wt_mean(x, w)

## 10. Flexible Agruments: \*args and \**kwargs<a class="anchor" id="bullet10"></a>

__*args__ is used if you need to pass a variable number of objects into the function. The asterisk * is a tuple __unpacking operator__. Placing the * before a parameter name tells python to pack any remaining arguments into a tuple that's passed to the args parameter.

In [36]:
def my_sum(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x  # same thing as result = result + x
    return result
print(my_sum(1, 2, 3 ))
print("=======\n" + str(my_sum(1, 2, 3, 4, 5)))

6
=======
15

__**kwargs__ is like args, except you can pass multiple __named__ arguments. The double asterisks ** are a __dictionary unpacking operator__. Recall that dictionaries are great for handling key-value(s) pairs.

In [ ]:
def concatenate(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for arg in kwargs.values():
        result += arg  # the += operator is short hand for code like this: result = result + arg
    return result

print(concatenate(b="Python ", c="Is ", d="Great", e="!"))

Python Is Great!

In [ ]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print((key, value))
    
# Check code
myFun(first='Geeks', mid='for', last='Geeks')

('first', 'Geeks')
('mid', 'for')
('last', 'Geeks')

In [ ]:
def foo1(a, *args):
    print(f"a is: {a}")
    print(f"args are: {args}") # args takes in tuple packing

In [ ]:
foo1(1)

a is: 1
args are: ()

In [ ]:
foo1(1, 2, 3, 4)

a is: 1
args are: (2, 3, 4)

In [ ]:
def foo2(a, **kwargs):
    print(f"a is: {a}")
    print(f"kwargs are: {kwargs}") # kwargs takes in dictionary packing

In [ ]:
foo2(1)

a is: 1
kwargs are: {}

In [ ]:
foo2(1, b=2, c=3, d=4)

a is: 1
kwargs are: {'b': 2, 'c': 3, 'd': 4}

In [ ]:
# can use them together
def foo(a, *args, **kwargs):
    print(f"a is: {a}")
    print(f"args are: {args}")
    print(f"kwargs are: {kwargs}")

In [ ]:
foo(1, 2, 3, d=4, e=5)

a is: 1
args are: (2, 3)
kwargs are: {'d': 4, 'e': 5}

In [ ]:
# print_list.py
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [ ]:
my_list = [1, 2, 3]
print(my_list)   # print list
print(*my_list)  # print unpacked list, which is just the contents of the previous list

[1, 2, 3]
1 2 3

In [ ]:
def my_sum(*args):
    result = 0
    for x in args:
        result += x
    return result

list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

print(my_sum(*list1, *list2, *list3))

45

## 11. Return statements <a class="anchor" id="bullet11"></a>

Throughout all the functions we have seen, there have been return statements. What do they do? They run some calculation or task and usually there's output we want to return. This is what the return statement is for.

In [97]:
# Example
def check(x):
    result = ''
    if x > 0:
        result = 'Positive'
    elif x < 0:
        result = 'Negative'
    else:
        result = 'Zero'
    return result

In [98]:
check(1)

'Positive'

**Question**: What if we wanted to return multiple things at once? How can we do this?  
**Answer**: Return a list object with all the output you want to return !

In [ ]:
# Calc col mean and return the sample size n
def col_mean(df):
    
    n = df.shape[0]
    
    output = []
    for i in df.columns:
        output.append(np.mean(df[i]))
    return [n, output]

In [ ]:
# Create data frame to run through function
rng = np.random.default_rng(seed=3252)

a = rng.standard_normal(10)
b = rng.standard_normal(10)
c = rng.standard_normal(10)
d = rng.standard_normal(10)

the_dict = {'a':a,'b':b,'c':c,'d':d}

df = pd.DataFrame(the_dict)
df

          a         b         c         d
0 -0.757929  0.295862  0.417556  1.167163
1  0.807697  0.019923 -1.726416  1.767645
2  0.433601 -2.352702 -0.585652  0.461624
3 -0.949885 -0.548677 -0.012005  1.457183
4 -1.119631  1.061025 -0.981373 -0.216714
5  0.064981  0.760106 -1.244226  0.287626
6 -0.612400 -0.671701  1.370228 -1.224794
7 -1.144289  1.442454 -1.705773  0.694906
8 -1.710033 -0.398088 -0.139430  0.402294
9 -0.663915 -0.341473 -2.086549 -0.861754

In [ ]:
col_mean(df)

[-0.5651802647782048,
 -0.07332713554716727,
 -0.6693640830516738,
 0.3935178923880054]

In [110]:
# Recall: You can even return an entire dataset as one element of a list!
from sklearn import datasets # load iris dataset
iris0 = datasets.load_iris()
iris = pd.DataFrame(data=iris0.data, columns=iris0.feature_names)
x = [iris, 0, 1, 2]
x

[     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

 [150 rows x 4 columns],
 0,
 1,
 2]

In [111]:
iris0

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [ ]:
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

Note, you can also return tuples from functions! It does not matter (usually) which you use. If your object needs to be further edited/modified, then use a list. If you want the output from your function to be immutable, then tuples are better.

From a performance angle, tuples are a little more efficient than list objects. 

Lastly, note it is also possible to return functions! We will see an example of this at the end of today's lecture notes.

## 12. Lazy evaluation <a class="anchor" id="bullet12"></a>

In a nutshell, lazy evaluation means that the object is evaluated when it is needed, not when it is created.

## 13. Lexical scoping <a class="anchor" id="bullet13"></a>

Not essential you understand this to write functions in Python, but can't hurt. This is a rather advanced programming concept.

Environment of a function controls how Python finds the value associated with a name. The key concept for function environment is something called "lexical scoping". 

When a function begins running, it first looks inside the immediate function script/environment for variables which are referenced. We call this the **local scope**. If a variable is not found in the local scope, then Python steps up to the parent environment in which the function was called. At the very top of the hirearchy is the **global environment**. Objects in your global environment will be accessible by all functions. There is also a third scoping level, the **built-in scope**, which includes all of base Pythons variables and functions, such as the print function.

In [1]:
# Local scope: the variable new_val only exists within the function call
def square(value):
    new_val = value ** 2  # new val is not defined globally
    return new_val
print(square(10))
print(new_val)

100

NameError: name 'new_val' is not defined

In [4]:
# Local scope: the variable new_val only exists within the function call
def square(value):
    global new_val 
    new_val = value ** 2  # new val is defined globally
    return new_val
print(square(10))
print(new_val)  # this works !

100
100

## 14. Nested functions <a class="anchor" id="bullet13"></a>

Once we get to nested functions, there are now 4+ level of scopes since the encolosing function is now part of the picture.

In [ ]:
def outer(...):
    
    x = ...
    
    def inner(...):
        y = x ** 2
    return ....

Above, we can see that each time the outer function is called, it will create the inner function to use during that function's execution. 

For the inner() function, when it starts searching for x it first looks within the local scope of the inner function. If it doesn't find x there, then it continues searching in the outer function. We call this outer function and **enclosing function**, since it encloses the inner() function. If Python still cannot find x in the outer() function, it then searches the global scope, and then the built-in scope.

**Question:** Why nest functions?  
**Answer:** What if you need to run some calculation many times? Your code will not scale well unless it runs on function calls to automate a set of intermediary steps.

In [7]:
# Nesting functions: Returning functions
def raise_val(n):
    
    def inner(x):
        raised = x ** n
        return raised
    
    return inner
square = raise_val(2)  # Create the function square(), which squares any number
cube   = raise_val(3)  # Create the function cube(), which cubes any number
print(square(3), cube(3))

9 27