# Week 1: Intro to Python

### Table of contents
* [Python as a calculator](#bullet1)
* [Boolean data types](#bullet2)
* [String data types](#bullet3)
* [Numeric data types](#bullet4)
* [Storing values in variables](#bullet5)
* [Commenting your code!](#bullet6)
* [List objects](#bullet7)
* [Tuple objects](#bullet8)
* [Dictionary and set objects](#bullet9)
* [Built in Functions](#bullet10)
* [Methods](#bullet11)
* [Installing other Python packages](#bullet12)

## 1. Python as a calculator <a class="anchor" id="bullet1"></a>

In [3]:
1+1

2

In [4]:
1+2*3

7

In [5]:
(1+2)*3

9

##### + is called an operator. Like all programing langugages, Python includes many types of operators: +, -, *, /, **

## 2. Boolean data types (True / False) <a class="anchor" id="bullet2"></a>

In [6]:
2 * 2 == 4

True

In [7]:
(3 ** 3) == 27  # Note the ** operator is an exponent operator! This is 3^3

True

In [8]:
(3 ** 2)

9

In [9]:
type(False)

bool

## 3. String data types <a class="anchor" id="bullet3"></a>

In [12]:
'string'

'string'

In [13]:
"string"

'string'

In [14]:
type("string")

str

## 4. Numeric data types <a class="anchor" id="bullet4"></a>

For numeric data, Python has a "int" and "float" (ie decimal) data type

In [15]:
5 + 5

10

In [16]:
type(5 + 5)

int

In [17]:
type(3.24)

float

In [18]:
print(63/8)

7.875

## 5. Storing values in variables <a class="anchor" id="bullet5"></a>

* A variable is a name for a value. 
* We can create a new variable by assigning a value to it with `=`, which is what we call the assignment operator in Python. 
* Once you create a variable, it's value is said to be "initialized" into your environment
* You cannot use a space within a variable name, use `_` in place of spaces
* Variable names cannot start with a number, nor can they contain a `.`

In [19]:
width = 5
width

5

In [20]:
width * width # We can do arithmetic with variables

25

In [21]:
area = width * width  # We can store the results of arithmetic in another variable
area

25

In [22]:
width = 10   # We can change a variables value by reassigning a value to it
width

10

In [23]:
area  # The value of area hasn't been updated, and won't be until we reassign the area variable

25

In [24]:
pre_test_score = 96

In [25]:
print(pre_test_score)

96

In [26]:
4test = 4

SyntaxError: invalid syntax (3937181391.py, line 1)

In [27]:
test4 = 5

In [28]:
pre.test.score = 10

NameError: name 'pre' is not defined

In [29]:
# Challenge: Rewrite this code in a single line
a = 4*20
b = 7
a+b

87

**Challenge: Rewrite this code in several lines**
`2*2+2*2+2*2`

## 6. Commenting your code! <a class="anchor" id="bullet6"></a>

the `#` symbol is used to add comments, which will ignore all code on a line following the `#`

In [31]:
## This code computes updates the area
area = width * width  # Comments can also be added in-line following code

You can also use triple single or double quotes to add comments

In [33]:
""" This will be ignored  """ 
''' So will this '''
5 + 6

11

#### Tip: When applying to jobs, you should clearly comment your code and describe what you are doing! This makes it easier for those who are "grading" your work, and saves them time, which increases your chances of "passing"

## 7. List objects <a class="anchor" id="bullet7"></a>

* list are a special data type in python which can hold multiple "elements", similar to vectors in R
* Unlike the vector from R, list elements can be of different data types themsevles - they can even be another list
* Indexing, or slicing, a list refers to extracting a particular set of its elements

In [3]:
# intialize an empty list
lst = []
lst

[]

In [4]:
# intialize an unempty list
lst = [2, 4, 6, 8, 10]
lst

[2, 4, 6, 8, 10]

In [5]:
# delete operator to remove the item in position 3 (which is 8 here)
del lst[3]
lst

[2, 4, 6, 10]

In [6]:
# We can also use the remove method
lst.remove(6) # Remove the first occurence of the int 6 value
lst

[2, 4, 10]

In [7]:
# Re-intialize an unempty list
lst = [2, 4, 6, 8, 10]

In [8]:
type(lst)

list

In [12]:
# length of list
len(lst)

5

The list object `lst` has five **elements**. An element is defined as one

In [3]:
# index function (or method)
lst1 = [1,2,3,3,3,4,5,6]
lst1.index(3) # returns the index or position of the first occurence for the int 3

2

In [39]:
# arithmetic 
[i+1 for i in lst] # This syntax is called a "list comprehension", which we will learn about later in the course

[3, 5, 7, 9, 11]

In [40]:
[i+i for i in lst]

[4, 8, 12, 16, 20]

In [41]:
# Add the interger 60 to the list
lst + [60]

[2, 4, 6, 8, 10, 60]

In [35]:
# Challenge: What do you think this will do?
lst + lst

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [43]:
# This returns an error, because when Python sees the "+" following a list object, 
# it is looking to concatanate or add another list data type
lst + 1

TypeError: can only concatenate list (not "int") to list

In [45]:
lst.append(60) # another valid way to add an element using a 'method', which we will learn about later
lst

[2, 4, 6, 8, 10, 60, 60]

In [46]:
lst = ['hello', 'world'] # list of strings
lst

['hello', 'world']

In [47]:
lst = [True, False] # boolean list
lst

[True, False]

In [48]:
# Mixing types: lists can also store multiple data types - but be careful when doing this! 
lst = [2, 54, 5, "hello", "world", True, False, 23]
print(lst)

[2, 54, 5, 'hello', 'world', True, False, 23]

In [49]:
# indexing or slicing a list. Python starts indexing at 0, not 1! This is different from R
lst = [2, 4, 6, 8, 10]
lst[0] # To slice the first element, use an index value of 0

2

In [50]:
lst[3] # this slices the fourth element in the list object

8

In [51]:
# Slice multiple values using ":". Note: In the code below, we will extract elements 1, 2 and 3. Not element 4!
# While we start with the first element 0, the element in final position is not included in the slice
lst[0:3]

[2, 4, 6]

In [52]:
# We can update values by assigning new values to a particular set of elements
lst[2] = 5  # update the third element to be a 5
lst

[2, 4, 5, 8, 10]

In [53]:
# We can also use indexing with a "-" sign, which starts from the end rather than the beginning of the list
lst[-1]  # note that -1 is the first element when using this reverse indexing method.

10

In [54]:
lst[-0] # "-0" defaults to the first element that starts a list

2

In [55]:
# We can assign multiple values at once
lst[1:4] = [2, 3, 4]
lst

[2, 2, 3, 4, 10]

In [56]:
# Below, we use a method called ".insert" to insert the element 60 at the 0 index position
lst = [2, 4, 6, 8, 10]
lst.insert(0, 60)
lst

[60, 2, 4, 6, 8, 10]

In [57]:
# Experimenting with the ":" while sliceing
lst[:3]  # Grab everything from 0 until index spot 2

[60, 2, 4]

In [58]:
lst[:5]

[60, 2, 4, 6, 8]

In [60]:
lst[:] # Grab entire list

[60, 2, 4, 6, 8, 10]

In [62]:
lst[2:] # go to element at index 2, and grab everything until to the end of the list

[4, 6, 8, 10]

In [63]:
lst[:3] # Slice everything up to, but not including, element 3

[60, 2, 4]

In [64]:
lst[-3:-1] # use negative indeces to slice from the end of the list

[6, 8]

In [65]:
# A step can also be used after a second colon to, say, take every other element:
lst[::2] # Starting from the first element, take every other element - takes evens

[60, 4, 8]

In [66]:
lst[1::2] # Starting from the second element, take every other element - takes odds

[2, 6, 10]

In [67]:
# You can also create sequences with the range function
lst99 = range(0,10)  # This is called a "generator expression", also called "lazy evaluation"
lst99

range(0, 10)

A **generator expression** is a special kind of function that returns a "lazy iterator". Certain python objects will be able to loop through such expressions (i.e., a *for* loop which we will study later), however the generator expression is not executed and committed to your PC's memory. It's basically a programing hack to save computer resources. 

In the example above, we can make make a list object by wrapping the generator expression in the `list()` function, which is alternative syntax for creating a list object.

In [68]:
# For example:
lst99 = list( range(0,10) )
lst99

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
# a nested list
lst3 = [["John", 23],
        ["Sally", 19],
        ["Sarah", 43]]
lst3

[['John', 23], ['Sally', 19], ['Sarah', 43]]

In [70]:
# The above is a multi-dimensional list object, so you have to use multi-dimensional slicing to index it
lst3[0] # the first element (index 0) is actually another list!

['John', 23]

In [71]:
lst3[0:2]

[['John', 23], ['Sally', 19]]

In [72]:
lst3[0][1] # We can keep adding slices to keep slicing further

23

In [73]:
lst3[0:2]

[['John', 23], ['Sally', 19]]

In [13]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
A

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
i, j = 1, 2
print(i)
print(j)
A[i][j]

1
2

6

### Challenge: Use the following list to answer the following questions

In [77]:
items = ["spam", "eggs", "beans", "bacon", "sausage"]

##### Challenge: What does items[::-1] produce? Based on what you find, use indexing to create a version of items without "spam"

##### Challenge: Use indexing and concatenation to create a list containing spam, eggs, sausage, spam, and spam

##### Challenge: Add a new item, “lobster”, to items

## 8. Tuple objects <a class="anchor" id="bullet8"></a>

Tuples are used to store multiple items in a single variable. **A tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary**, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.

In [78]:
t1 = ("Modern", "Data", "Structures")
t1

('Modern', 'Data', 'Structures')

In [79]:
type(t1)

tuple

In [80]:
# index the same way as lists
t1[1]

'Data'

In [81]:
t2 = (1, 2, 3, 4, 5, 6, 7)

In [83]:
# add 2 tuples of different types, showing that tuples can hold different types
t1 + t2

('Modern', 'Data', 'Structures', 1, 2, 3, 4, 5, 6, 7)

In [84]:
# What does the code below do ? 
t2 * 3 # Note this will work for list objects as well!

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [87]:
# Since tuples are indexed, they can have items with the same value
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [89]:
# Most of the functions which work for list objects will also work for tuple objects
print(len(thistuple)) # Count the number of elements in a tuple object

5

Tuples are **immutable**, unlike lists. This means their values can never be modified!

In [86]:
t2[0] = 0 # Note this throws a "TypeError". We will learn more about errors and debugging code later this semester

TypeError: 'tuple' object does not support item assignment

In [90]:
# String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

## 9. Dictionary and set objects <a class="anchor" id="bullet9"></a>

A **dictionary** object is a collection which is ordered and changeable. No duplicate members. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

In [105]:
# key, value pairs
dic = {
    "player": "Tom Brady",  # "player" = key, "Tom Brady" = value
    "age": 45,
    "position": "QB"
}
print(dic)

{'player': 'Tom Brady', 'age': 45, 'position': 'QB'}

In [106]:
dic['player']

'Tom Brady'

In [91]:
# Dictionaries cannot have two items with the same key.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [93]:
# String, int, boolean, and list data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]  # Notice how the "value" here is a list object with multiple elements
}

In [94]:
# Using the dict() method to make a dictionary
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

A **set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members. Set **items** are unchangeable, but you can remove and/or add items whenever you like. Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

In [95]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [96]:
# Sets cannot have two items with the same value. Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [99]:
# True and 1 is considered the same value, while 0 and False are the same value.
thisset = {"apple", "banana", "cherry", True, 1, 2, 0, False}
print(thisset)

{0, True, 2, 'cherry', 'apple', 'banana'}

In [100]:
# Get the number of items in a set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [101]:
# String, int and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [102]:
# A set with strings, integers and boolean values
set1 = {"abc", 34, True, 40, "male"}

In [103]:
# Using the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In summary, there are four *collection data types*, or **arrays**, in the Python programming language. Throughout the semester, we will use all four collection data types. 
* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered and changeable. No duplicate members.

Note the list and dictionary data types are the most important ones to get familiar with.

## 10. Built in Functions <a class="anchor" id="bullet10"></a>

* **Functions** are the things that do all the work for us. They take a set of inputs, and produce a set of outputs.
* They always follow the same rules / logic when executing them.
* They save a lot of time, and you can use functions from base python, other libraries, or ones that you write.
* Functions can be identified anytime you see `()` in python.
* For example, `max()` is a function called max, which takes an input (called **arguments** or **parameters** of the function) placed inside the parentheses. This function will return the largest number.

In [108]:
lst = [0, 10, 20, 30, 40, 50, 60, 70 ,80, 90, 100]

In [109]:
max(lst)

100

In [110]:
min(lst)

0

In [111]:
sum(lst)

550

In [112]:
items

['spam', 'eggs', 'beans', 'bacon', 'sausage']

In [113]:
# function behavior depends on the data type! 
max(items)

'spam'

In [114]:
min(items)

'bacon'

In [115]:
mean(lst) # Where's the mean function ?

NameError: name 'mean' is not defined

In [116]:
# We can use functions written by other Pythonistas! We can import their functions using the from / import calls
# Here, we import the mean function from the statistics module/library
from statistics import mean
mean(lst)

50

In [117]:
# Sometimes, a function is not compatible with a certain datatype, which will result in a "TypeError"
mean("test")

TypeError: can't convert type 'str' to numerator/denominator

In [118]:
round(51.63452)

52

In [120]:
# Some functions can use multiple arguments. 
# You can tell the round() function for example how many decimal places to round to:
round(51.63452,2)

51.63

In [122]:
# ? followed by a function name opens a help menu
?round

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [123]:
# When setting the arguments to a function, you can name them or rely on their default order
round(number=51.63452, ndigits=2)

51.63

In [14]:
round( ndigits=2, number=51.63452)

51.63

In [125]:
# "SyntaxError" here, because the function expects the unnamed second argument to be ndigits.
# So be careful when defining function arguments based on position!
round( ndigits=2, 51.63452)

SyntaxError: positional argument follows keyword argument (2550835299.py, line 3)

In [126]:
len(lst)

11

##### Challenge: Use the sum function to sum the numbers 1 to 10,000

##### Challenge: Look at documentation for the pop() function. Then practice using it!

##### Challenge: Can you find a function that will allow you to create a list of length 100 where every element is 99? Hint: Use google!

## 11. Methods <a class="anchor" id="bullet11"></a>

Some data types allow you to use special functions called **methods**. Methods are accessed by appending a `.` to the end of an object name, followed by particular method. See below.

In other words, a method is a function that is available to make our code more redable.

In [127]:
a = (1, 2, 3, 3, 2, 22, 1, 2)

In [128]:
a.count(2) # a method which counts the number of 2s

3

In [129]:
b = 'string'
b.replace('s', 'S')

'String'

In [130]:
b = 'strings'
b.replace('s', 'S')

'StringS'

In [131]:
b # Be aware that sometimes when you call a function/method, it may not neccessarily update the underlying object

'strings'

There is a difference between working with a view of a data object and a copy of that data object. See the data camp chapter 2 slide I posted, where there are several good slides and visuals on this. This is tricky, and takes some getting used to.

The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array. The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy. 

The command `b.replace('s', 'S')` creates a view of the `b` array where we capitalize the lower case s wherever it appears.  But this command is not being saved to the original array.

In [13]:
x = ["a", "b", "c"]
print(x)

['a', 'b', 'c']

In [14]:
y = x
y[1] = "z"
print(y)

['a', 'z', 'c']

In [16]:
print(x) # x and y are referring to the same underlying object, so when you update y 
         # it is going to update x since they are both pointing to the same data array

['a', 'z', 'c']

In [17]:
x = ["a", "b", "c"]
y = list(x)  # this creates a separate copy, so y and x are now stored as separate objects in your PC's memory
y[1] = "z"
print(x)
print(y)

['a', 'b', 'c']
['a', 'z', 'c']

In [20]:
x = ["a", "b", "c"]
y = x[:]  # A 2nd way to create a separate copy
y[1] = "z"
print(x)
print(y)

['a', 'b', 'c']
['a', 'z', 'c']

In [132]:
a.replace(1, 99)  # methods depend on data types! Because tuples are immutable, we cannot use the replace method

AttributeError: 'tuple' object has no attribute 'replace'

In [133]:
a.append(2) # We also cannot append to tuples since tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [139]:
c = [1, 2, 3, 4, 4, 4, 4]
c.append(5)   # The append method can modify list objects however
c

[1, 2, 3, 4, 4, 4, 4, 5]

In [141]:
c.remove(4) # the remove method removes the first element which is an integer 4 data type
c

[1, 2, 3, 4, 4, 5]

## 12. Installing Other Python Packages <a class="anchor" id="bullet12"></a>

In general, you should not need to install many, if any, extra python packages when you use the Anaconda distribution. This is because it already comes with the most popular packages that people use! 

But, you can install packages from the Anaconda Prompt with the following code `pip install package_name`
For example, if you want to install the **pyautogui** library, open your conda terminal and paste in the following code:
`pip install pyautogui`