In [6]:
# import package 
import numpy as np
import pandas as pd
from scipy import stats 
import random

### 1. Update t_test() function

In [ ]:
def t_test(data, num_vars, bin_vars):
    """
    UPDATE WITH DOCUSTRING
    """
    
    # Check that all vars are binary and coerce all bin_vars into string dtype
    # UPDATE TO CHECK USING AN ASSERT STATEMENT
 
    # Combine data
    data = data[num_vars + bin_vars]
    
    results = []
    
    # UPDATE WITH NESTED FOR LOOP
    # UPDATE TO CREATE FOR LOOP TO LOOP THROUGH EACH BIN OR NUM VAR
        # UPDATE TO CREATE FOR LOOP TO LOOP THROUGH EACH BIN OR NUM VAR
            
            # Get the unique values of the binary variable
            #UPDATE TO GET UNIQUE VALUES OF THE CATEGORICAL VAR
            
            # Calculate the mean difference between the two groups
            # UPDATE TO ADD DATA FOR GROUP1
            # UPDATE TO ADD DATA FOR GROUP2
            mean_diff = group2.mean() - group1.mean()
            
            # Calculate the sample sizes and sample variances of the two groups
            n1 = group1.shape[0]
            n2 = group2.shape[0]
            s1 = group1.var()
            s2 = group2.var()
            
            # Calculate the degrees of freedom (DF)
            DF = n1 + n2 - 2
            
            # Calculate the pooled standard deviation (sp)
            sp = np.sqrt(((n1 - 1) * (s1**2) + (n2 - 1) * (s2**2)) / DF)
            
            # Calculate the standard error of the mean difference
            SE_mean_diff = sp * np.sqrt(1/n1 + 1/n2)
            
            # Calculate the t-statistic
            t_statistic = mean_diff / SE_mean_diff
            
            # Calculate the p-value
            p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), DF))
            
            # Append the results to the results list
            results.append({
                "Continuous Variable": num_var,
                "Binary Variable": bin_var,
                "Total Sample Size": n1 + n2,
                "Mean Difference": round(mean_diff, 2), 
                "SE of Mean Difference": round(SE_mean_diff, 2),
                "DF": DF,
                "t-statistic": round(t_statistic, 3),
                "P-value": format(p_value, ".3f")
            })
    
    # Convert the results list to a DataFrame
    return pd.DataFrame(results)

### 2. Look at Docustring

In [17]:
?t_test

Signature: t_test(data, num_vars, bin_vars)
Docstring:
Computes an independent two-sample t-test for the difference in means between two groups for each combination of
continuous and binary variables.

Args:
    num_vars: A list of numeric variable names.
    bin_vars: A list binary variable names. All binary variables must be
        dichotomous (i.e., have exactly two unique values).

Returns:
    A pandas DataFrame with the following columns for each combination of numerical and binary variables:
    - "Continuous Variable": the name of the numerical variable
    - "Binary Variable": the name of the binary variable
    - "Total Sample Size": the total sample size of the two groups combined
    - "Mean Difference": the difference in means between the two groups
    - "SE of Mean Difference": the standard error of the mean difference
    - "DF": the degrees of freedom
    - "t-statistic": the t-statistic
    - "P-value": the two-tailed p-value

Raises:
    AssertionError: If any binary variable in bin_vars is not dichotomous.
File:      c:\users\nicka\appdata\local\temp\ipykernel_36888\4098541941.py
Type:      function

### 3. Test function with binary variables

In [18]:
# Load the data
df = pd.read_csv("ged_data.csv")

# Recode the GED variable
df["ged_cats"] = np.where(df["ged"] == 1, "ged", "no ged") # UPDATE TO CREATE STRING VAR

# Call the t_test function
results = t_test(data=df, num_vars=["income_log", "post_sec_edu"], bin_vars=["ged","ged_cats","female"])
results

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value
0,income_log,ged,5976,-0.48,0.06,5974,-7.882,0.000
1,income_log,ged_cats,5976,0.48,0.06,5974,7.882,0.000
2,income_log,female,5976,-0.21,0.02,5974,-9.197,0.000
3,post_sec_edu,ged,5976,-2.12,0.33,5974,-6.455,0.000
4,post_sec_edu,ged_cats,5976,2.12,0.33,5974,6.455,0.000
5,post_sec_edu,female,5976,0.66,0.13,5974,5.280,0.000

### 4. Test function with non-binary variables

In [19]:
# Call the t_test function
results = t_test(data=df, num_vars=["income_log", "post_sec_edu"], bin_vars=["ged", "BYRACE"])
results

AssertionError: All bin_vars must be dichotomus!

### 5. Race Function

In [20]:
def race():
    
    # Set up initial positions
    t_position = 1
    h_position = 1

    # Define the range of positions
    positions = list(range(1, 71))

    # Define the moves of the tortoise and hare
    tortoise_moves = {
        "Fast Pod": 3,
        "Slip": -6,
        "Slow Pod": 1
    }
    hare_moves = {
        "Sleep": 0,
        "Big Hop": 9,
        "Big Slip": -12,
        "Small Hop": 1,
        "Small Slip": -2
    }

    # Print the starting message
    print("BANG ! ! ! !")
    print("AND THEY'RE OFF ! ! ! !")

    # Loop until one of the animals wins or there is a tie
    while t_position < 70 and h_position < 70:
        
        # UPDATE TO FINISH WHILE LOOP

In [5]:
# test
race()

BANG ! ! ! !
AND THEY'RE OFF ! ! ! !
_T                                                                   |
_H  T                                                                |
_      T                                                             |
_         T                                                          |
_            T                                                       |
_        H      T                                                    |
_                  T                                                 |
_                   T                                                |
_H            T                                                      |
_       T                                                            |
_H       T                                                           |
_ H         T                                                        |
_ H          T                                                       |
_  H            T                                                    |
_         T H                                                        |
_           HT                                                       |
_            HT                                                      |
_            H   T                                                   |
_          H        T                                                |
_             T     H                                                |
_                T  H                                                |
_                   OUCH!!!                                                |
_                   H  T                                             |
_                    H  T                                            |
_                     H    T                                         |
_         H                   T                                      |
_       H               T                                            |
_       H                  T                                         |
_        H                    T                                      |
_                 H              T                                   |
_                 H                 T                                |
_                          H           T                             |
_                        H                T                          |
_            H                               T                       |
_             H                                 T                    |
_                      H                           T                 |
_                       H                    T                       |
_                        H                    T                      |
_                      H                         T                   |
_                    H                              T                |
_                     H                       T                      |
_                   H                            T                   |
_       H                                           T                |
_                                                      T             |
_                                                       T            |
_                                                 T                  |
_                                           T                        |
_                                              T                     |
_                                               T                    |
_                                         T                          |
_H                                           T                       |
_ H                                    T                             |
_  H                                    T                            |
_H                                T                                  |
_                                    T                               |
_H                                    T                              |
_ H                                      T                           |
_          H                                T                        |
_           H                                  T                     |
_                    H                          T                    |
_                  H                             T                   |
_                H                                  T                |
_                 H                                    T             |
_                 H                                     T            |
_                          H                             T           |
_                           H                             T          |
_               H                                            T       |
_                        H                                    T      |
_                      H                                         T   |
_                    H                                     T         |
_                             H                               T      |
_                             H                                T     |
_                              H                                  T  |
_                               H                                  T |
_                   H                                                |
TORTOISE WINS!!! YAY!!!