## 0. Setup

In [1]:
# import libraries we need
import pandas as pd
import numpy as np
import scipy.stats as stats

## 1. Create t_test function

In [2]:
# Create t-test function
def t_test(num_var, bin_var):  
    
    # Calculate the mean difference between the two groups
    group1 = 
    group2 = 
    mean_diff = 
    
    # Calculate the sample sizes and sample variances of the two groups
    n1 = 
    n2 = 
    s2_1 = 
    s2_2 = 
    
    # Calculate the degrees of freedom (DF)
    DF = 
    
    # Calculate the pooled standard deviation (sp)
    sp = 
    
    # Calculate the standard error of the mean difference
    SE_mean_diff = 
    
    # Calculate the t-statistic
    t_statistic = 
    
    # Calculate the p-value
    p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), DF))
    
    # Put the results into a DataFrame
    results = 
    
    return results

## 2. Compare the result

In [11]:
# import data 
path = r"C:\Users\nicho\Desktop\1 Modern Data Structures - GR5072\QMSS-GR5072_Spring2024\Week 5\Activity"
data = pd.read_csv(path + r"\3 ged_data.csv")  

# result from ttest_ind
output1 = stats.ttest_ind(data['income_log'][data['ged'] == 1], data['income_log'][data['ged'] == 0])  

# result from t_test function 


print(output1)

Ttest_indResult(statistic=-7.457945705706778, pvalue=1.0040955835124666e-13)

In [32]:
output2

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value
0,income,ged,5976,-0.48,0.06,5974,-7.458,0.000

## 3.  Result Analysis

## 4. Three Additional Tests

In [12]:
# Test 1: Income and high_school_grad


# Test 2: Income and female


# Test 3: Post_sec and female

In [35]:
results1

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value
0,income,high_school_grad,5976,0.5,0.05,5974,11.131,0.000

In [36]:
results2

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value
0,income,female,5976,-0.21,0.02,5974,-8.685,0.000

In [37]:
results3

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value
0,post_sec_edu,female,5976,0.66,0.06,5974,11.628,0.000

## 5.  Linear Regression

### Result Comparison